.RoleManagement .ant-pagination-options-size-changer{
	padding-top: 0px
}
.RoleManagement td.user-action{
	padding: 0px !important;
	padding-left: 10px !important;
}
.RoleManagement .table-operations {
  margin-bottom: 16px;
}

.RoleManagement .table-operations > button {
  margin-right: 8px;
}
.RoleManagement table tbody tr:nth-child(odd)
{
	background-color: rgba(0, 0, 0, 0.03)!important;
}