
Hi {{fullname}}, <br/>
Your account has been changed successfully!<br/>
Your fullname is: {{fullname}} <br/>
Please go to this link http://ohtask.com/index.php to visit the OhTask system.<br/>
Thank you for using OhTask system!<br/>