Hi {{fullname}}, <br/>
You have been registered successfully!.<br/>
Your email is: {{email}} <br/>
Your password is: {{password}}<br/>
Please go to this link http://ohtask.com/index.php to visit the OhTask system.<br/>
Thank you for using OhTask system!<br/>