.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}
  
.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

.ellipsis span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    max-width: 150px;
}

.ellipsis-user span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 350px;
    max-width: 350px;
}

.ellipsis-not-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 99%;
    max-width: 99%;
    display:inline-block; 
}
.ellipsis-not-span-products {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 450px;
    max-width: 99%;
    display:inline-block; 
}
.ellipsis-not-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
    width: 99%;
    max-width: 99%;
    display:inline-block; 
}
.ellipsis-not-span-product {
    width: 99%;
    max-width: 99%;
    white-space: "nowrap";
    overflow: "hidden";
    text-overflow: "ellipsis";
    display: "inline-block";
}

.ellipsis-not-span-mobile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: "99%";
    text-overflow: "ellipsis";
    margin: 0 10px 0 0px;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.sweet-alert {
    width: 300px;
}

.custom-color-button span {
    color: white;
}

#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
}

.menu-mobile {
    border: 0
}

.button-success {
    font-weight: 700;
    background-color: #4caf50!important;
    color: white;
    min-width: 85px;
}

.button-success:hover {
    background-color: #4caf50!important;
    opacity: 0.7;
    color: white;
    border-color: white;
}

.button-info {
    background-color: #00acc1!important;
    color: white;
}

.button-info:hover {
    background-color: #00acc1!important;
    opacity: 0.7;
    color: white;
    border-color: white;
}

.button-danger {
    font-weight: 700;
    min-width: 85px;;
    background-color: #f44336!important;
    color: white;
}

.button-danger:hover {
    background-color: #f44336!important;
    opacity: 0.7;
    color: white;
    border-color: white;
}

.button-default {
    background-color: #999!important;
    color: white;
}

.button-default:hover {
    background-color: #999!important;
    opacity: 0.7;
    color: white;
    border-color: white;
}

.button-color-purple {
    background-color: #9c27b0!important;
    color: white;
}

.button-color-purple:hover {
    background-color: #9c27b0!important;
    opacity: 0.7;
    color: white;
    border-color: white;
}


/* Modal */
.modal-card {
    margin-top: -15px!important;
    margin-bottom: -15px!important;
    margin: 0
}

.center-notification{
    display: "block";
    margin-left:0;
    margin-top:0;
    top: calc((50vh- 85px));
    left: calc(50vw - 150px);
}

@media(max-width: 2000px) {
    .CustomModal.ant-modal {
        min-width: 900px!important;
        width: fit-content!important;
    }
    .CustomModal .ant-modal-body{
        height: calc(100vh - 170px);
    }

    .Project.ant-modal {
        width: calc(100vw - 200px)!important;
    }
}
@media(max-width: 1000px) {
    .CustomModal.ant-modal {
        width: 750px!important;
    }
    .CusProduct.ant-select{
        width: 100% !important;
    }

    .Project.ant-modal {
        width: 750px!important;
    }
}
@media(max-width: 2000px) {
    .ProductUnit.ant-modal {
        min-width: 800px!important;
        width: fit-content!important;
       
    }
    .ProductUnit .ant-modal-body{
        height: 100px;
        overflow: hidden;
    }

    .Project.ant-modal {
        width: calc(100vw - 400px)!important;
    }
}
/* Upload Image */
.custom-modal-input-first {
    margin-top: -25px!important;
}
.ant-modal-body .custom-modal-input {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.ant-upload.ant-upload-select-picture-card, .ant-upload-list-picture-card .ant-upload-list-item {
    width: 78px;
    height: 78px;
    margin-top: 20px;
}

.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters > *:not(.ant-table-column-sorter) {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: inline-block;
    width: 100%;
    max-width: 100%; 
}
.list_branches_overflow {
    max-height: 300px;
    overflow-y: scroll;
}
