.ant-select-dropdown {
	z-index: 10000;
	font-size: 13px;
}

.ant-select {
	width: 100% !important;
	padding-top: 0px;
	/* padding-top: 26px; */
	font-size: 13px;
}

.ant-modal-wrap {
	z-index: 1050 !important
}

/* .ant-modal{
  top: 10px;
} */
.ant-modal-body {
	padding: 10px 15px 15px 15px ;
}


/* Project */
.Project .ant-modal-body {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px;
	height: calc(100vh - 150px);
}

/* Product unit */
.ProductUnit .ant-modal-content {
	padding: 0px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.ProductUnit .ant-modal-body {
	height: 60px !important;
	padding: 40px 5px 10px 5px !important;
}

.ProductUnit .ant-modal-footer {
	padding: 0px 10px;
}

.ProductUnit .ant-modal-title {
	font-size: 14px !important;
}

/* Product type */
.ProductType .ant-modal-content {
	padding: 0px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.ProductType .ant-modal-body {
	/* height: 100px !important; */
	padding: 5px 5px 0px 5px !important;
}

.ProductType .ant-modal-footer {
	padding: 0px 10px;
}

.ant-modal-close-x {
	line-height: 48px !important;
}

.ProductType .ant-modal-title {
	font-size: 14px !important;
}

.add-user .ant-modal-content {
	width: 100%;
}

.ant-modal-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.ant-dropdown {
	z-index: 99999;
}

.add-project .ant-modal-body {
	overflow: hidden;
	z-index: 100;
}

div.ant-typography,
.ant-typography p {
	margin-bottom: 0;
}

.ant-typography {
	color: black !important
}

.Dragger .ant-upload {
	margin-top: 10px;
}

.Dragger .ant-upload-drag-icon {
	margin-top: -25px !important;
}


.ant-modal-footer {
	padding: 0px 16px;
}

.ant-pagination-options-size-changer {
	padding-top: 0px
}

.ant-upload.ant-upload-drag {
	height: 80px;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
	font-size: 35px
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon {
	margin-bottom: 0px
}

.ant-table-thead>tr>th {
	padding-top: 13px;
	padding-bottom: 2px;
	font-size: 13px;
	color: black;
}

.ant-table-tbody>tr>td {
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 13px;
	color: black;
}

.ant-table-expanded-row>td {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	font-size: 13px;
	color: black;
}


.ant-table-thead>tr>th .anticon-filter>svg,
.ant-table-thead>tr>th .ant-table-filter-icon>svg {
	margin-top: 0px;
}

.ant-table-thead>tr>th .anticon-filter,
.ant-table-thead>tr>th .ant-table-filter-icon {
	position: relative;
	padding-top: 15px;
}

.ant-table-thead>tr>th .anticon-filter>svg,
.ant-table-thead>tr>th .ant-table-filter-icon>svg {
	left: unset;
	margin-top: -5px;
}

/* search button of table */
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
	background-color: unset
}

.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .anticon-filter,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon {
	background-color: unset
}

.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
	background-color: unset
}

.ant-select.ant-select-enabled {
	width: 100%;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
	padding-left: 5px;
	padding-right: 5px;
}

.ant-modal-footer {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

span.ant-table-column-title {
	font-weight: bold;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
	font-size: 13px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
	padding: 5px 8px !important;
}

.ant-list-item {
	padding: 0 !important;
}

.global-search-wrapper {
	padding-right: 50px;
}

.global-search {
	width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
	/* margin-right: -46px; */
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
	padding-right: 62px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.global-search-item {
	display: flex;
}

.global-search-item-desc {
	flex: auto;
	text-overflow: ellipsis;
	overflow: hidden;
}

.global-search-item-count {
	flex: none;
}

/* .ant-tabs-nav-scroll {
  margin-top: 20px;
} */

/* ======= */

/* .ant-table-expand-icon-th, .ant-table-row-expand-icon-cell { */
/* padding-left: 0 !important; */
/* padding-right: 0 !important; */
/* } */

/* .ant-table-expand-icon-th, .ant-table-row-expand-icon-cell { */
/* min-width: 30px; */
/* text-align: unset; */
/* } */
.anticon.anticon-caret-down.ant-table-column-sorter-down.off>svg {
	width: 0px !important;
	height: 0px !important;
	color: black !important;
}

.anticon.anticon-caret-up.ant-table-column-sorter-up.off>svg {
	width: 0px !important;
	height: 0px !important;
	fill: black !important;

}

.ant-table-column-sorter-inner.ant-table-column-sorter-inner-full {
	margin-left: 2px !important;
}

/*  */
.ant-col.ant-form-item-control-wrapper {
	height: 20px;
}

.MuiFormControl-root.CustomInput-formControl-499.MuiFormControl-fullWidth {
	bottom: 14px;
}

.anticon.anticon-eye-o {
	width: 0px !important;
	height: 0px !important;
}

/* .anticon.anticon-eye-o>svg{
  width: 0px !important;
  height: 0px !important;
} */
.ant-upload-list-item-actions>a {
	display: none;
}

/* .anticon.anticon-search.ant-table-filter-icon.ant-table-filter-open.ant-dropdown-trigger.ant-dropdown-open{
  text-indent: "aaaa"!important;
} */


.ant-popover-inner {
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.35) !important;
}

span.ant-table-column-title {
	white-space: nowrap;
}

.ant-select-lg {
	font-size: "none" !important;
}

.ant-select-selection-selected-value {
	font-size: 14px !important;
	white-space: pre-line !important;
	max-height: 30px;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
	background-color: #1890ff !important;
	color: #fff !important;
}

.ant-table-thead > tr > th.realqty-column::after {
	content: "*";
	color: red;
}
@media only screen and ( min-width: 1200px) {
div.ant-table-content > div.ant-table-scroll > div.ant-table-body {
	overflow: auto !important
} 
 }
.dashboard-card > .MuiGrid-item > .MuiGrid-container > .MuiGrid-item > .role-label.label-fontSize20 {
	font-size: 1.5vw;
}
@media only screen and (max-width: 800px ) {
	.dashboard-card > .MuiGrid-item > .MuiGrid-container > .MuiGrid-item > .role-label {
		font-size: 3vw;
	}
	.dashboard-card > .MuiGrid-item > .MuiGrid-container > .MuiGrid-item > .role-label.label-fontSize20 {
		font-size: 1em !important;
	}
}

@media only screen and (max-width: 575px ) {
	.product-form {
		padding-right: 20%;
	}
	.product-form .ant-select-dropdown {
		z-index: 10000;
		font-size: 13px;
		width: 80% !important;
	}
}

@media only screen and ( min-width: 360px ) {
	.best-selling-list > div > div > p{
		white-space: nowrap;
		padding-left: 1px;
	}
}
 .oh-label {
	margin-top: 1px
}
.title-manufacturing-setting {
	padding: 40px
}

.role-item.col > a {
	font-weight: 700;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}

.ant-list-item-action {
  margin-bottom: 0px;
}

.product-form {
	min-width: 50px! important;
}

.product-form .ant-select-dropdown {
	z-index: 10000;
	font-size: 13px;
	min-width: 200px;
}