.UserManagement .ant-pagination-options-size-changer{
	padding-top: 0px
}
.UserManagement td.user-action{
	padding: 0px !important;
	padding-left: 10px !important;
}
.UserManagement .table-operations {
  margin-bottom: 16px;
}

.UserManagement .table-operations > button {
  margin-right: 8px;
}
.UserManagement table tbody tr:nth-child(odd)
{
	background-color: rgba(0, 0, 0, 0.03)!important;
}
.CustomModal form .MuiGrid-item 
{
	height: 55px !important;
}
.CustomModal form .MuiGrid-item.CustomeGridItem
{
	height: 450px !important;
	/* overflow-y: scroll; */
}
.CustomModal form .except-container .MuiGrid-item 
{
	height: unset !important;
}
.CustomModal .ant-modal-body
{
	padding: 15px !important;
}
@media all and (min-width: 601px){
	.CustomModal.ant-modal {
		top: 40px !important;
	}
}