/* Table Counter */
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.ohsearch-table-sales{
    position: absolute;
    width: 48% ;
    top: -11px !important; 
    left: 5px !important;
    z-index: 2 !important;
}
.button-payment-sales-counter{
  position: absolute;
  width: 100% ;
  right: 0px !important;
  z-index: 5 !important;
  bottom: 20px;
}
.button-add-information-product{
  position: absolute;
  width: 45px ;
  left: calc(100% - 16%) !important;
  z-index: 6 !important;
  bottom: 7px;
}
.button-add-information-product-1{
  position: absolute;
  width: 40px ;
  left: calc(100% - 35%) !important;
  z-index: 6 !important;
  bottom: 7px;
}
.call-sale-counter{
  position: absolute;
  width: 100% ;
  z-index: 2 !important;
  bottom: -8px;
  left: 25px !important;
  font-size: 11px;
}
.call-sale-counter::before{
  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 11px;
    color: #999999;
    content: "\f095";
    position: absolute;
    left: -15px;
    top: 2px;
}
.ohsearch-table-sales >a >i >svg{
  width: 30px;
  height: 30px;
}
.ohsearch-table-sales-barcode{
  position: absolute;
  width: 11% !important;
  top: 0px !important; 
  left: calc(100% - 7%) !important;
  color: white !important;
  cursor: pointer;
}
.ohsearch-table-sales-input{
  position: absolute;
  width: 15% !important;
  top: 0px !important; 
  left: calc(100% - 28%) !important;
}
.ohsearch-table-sales .ant-select-auto-complete.ant-select-lg .ant-input{
  border: unset !important;
  border-color: unset !important;
  height: unset;
  top: -4px;
}
  .table-sales .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar{
    margin-left: 50% !important;
    margin-top: 3px;
    height: 38px;
    border: unset;
  }
  .table-sales{
    margin-top: -2px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .table-sales .ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-editable-card.ant-tabs-no-animation{
    top: -30px;
    z-index: 2;
  }
  .table-sales .anticon.anticon-plus.ant-tabs-new-tab >svg{
    width: 18px;
    height: 20px;
  }
  .table-sales .anticon.anticon-plus.ant-tabs-new-tab{
    margin-bottom: -3px;
    width: 18px;
    height: 18px;
    color: white;
    border: unset !important;
    font-weight: 700;
  }
  
  .table-sales .anticon.anticon-plus.ant-tabs-new-tab:hover{
    color: rgb(252, 252, 252);
    border: 2px solid white;
  }
  .table-sales .ant-tabs-nav-container{
    bottom: 2px ;
  }
  .table-sales .ant-tabs-tab-active.ant-tabs-tab{
    background-color: #ffffff !important;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    background-color: #ffffff !important;
  }

  .table-sales .ant-tabs-tab.ant-tabs-tab{
    background-color: #d8cfcf !important;
  }
  .table-sales .ant-tabs-tab.ant-tabs-tab{
    border-collapse: collapse !important;
    border-radius: 5px 20px 2px 0px !important;
  }
  .table-sales .anticon.anticon-close.ant-tabs-close-x{
    color: rgb(185, 0, 0) !important;
    font-weight: 700;
  }
  .table-sales .ant-tabs-nav.ant-tabs-nav-animated{
    height: 40px;
  }
  
  .table-sales .ant-tabs-tab-prev-icon{
    padding-left: 15px;
  }
  .table-sales .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    padding: 0px 10px 0px 5px !important;
  }
  .table-sales .anticon.anticon-left.ant-tabs-tab-prev-icon-target > svg{
    color: white;
    height: 18px;
    width: 18px;
    font-weight: 600;
  }
  .table-sales .anticon.anticon-left.ant-tabs-tab-prev-icon-target > svg:hover{
    height: 18px;
    width: 18px;
    color: white;
    font-weight: 600;
  }
  .table-sales .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-wrap {
    margin-left: 10px;
  }
  .table-sales .anticon.anticon-right.ant-tabs-tab-next-icon-target > svg{
    height: 18px;
    width: 18px;
    color: white;
    font-weight: 600;
  }
  .table-sales .anticon.anticon-right.ant-tabs-tab-next-icon-target > svg:hover{
    height: 18px;
    width: 18px;
    font-weight: 600;
    color: white;
  }
  .table-sales .ant-tabs-tab{
    color: black;
  }
  .table-sales .ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-editable-card.ant-tabs-no-animation .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar .ant-tabs-extra-content{
    height: 37px;    
  }
  .site-card-wrapper{
    background: #e1e1e1;
    padding: 10px 0px;
    margin-right: -4px;
  }
  .site-card-wrapper-1{
    background: #e1e1e1;
    overflow: auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px 0px !important;
    max-width: 100%;
    z-index: 4;
    margin-top: 5px;
  }
  .list-product .ant-col.ant-col-7{
    width: 13% !important;
    padding: 4px 1px 6px 1px!important;
    float: left !important;
    height: 172px !important;
    top: 4px;
  }
  
  @media (min-width: 992px){
    .label-sales-counter{
        float: left !important;
        color: black !important;
        cursor: pointer;
        display: inline-flex;
        font-size: 14px !important;
        line-height: 1.428571429;
        font-weight: 400;
        padding-top: 0.5rem;
        margin-right: 0px;
    }
    
  }
  .input-sales-counter{
    max-width: 100px !important;
    text-align: right !important;
  }
  .hr-sales{
    border-top: 2px solid #eee;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .button-payment-sales{
    width: 95% !important;
    height: 64px;
    font-size: 20px;
  }
  .img-list-product{
    max-width: 86px;
    max-height: 86px;
    display: block;
    margin: 5px auto;
    height: auto;
    width: auto;
    transition: all 1.0s;
  }
  .list-product .product-name{
      width: 99%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 18px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 0px;
      margin-left: 2px;
  }
  .list-product .product-price-quantity{
    position: absolute;
    font-size: 12px;
    top: 57% !important; 
    z-index: 5 !important;
    margin-bottom: 0px;
    font-weight: 600;
    color: #1288f7;
    background-color: #e1e1e1;;
    height: 18px;
    margin-left: 2px;

  }
  
  .ant-card-body{
    padding: 5px 5px 5px 5px ;
    height: 80px !important;
  }
  .list-product .ant-card.ant-card-bordered.ant-card-hoverable{
    height: 172px !important;
  }
  .ant-card-cover{
    height: 120px;
    display: flex;
  }
  .list-product .ant-card.ant-card-bordered.ant-card-hoverable:hover body{
    transform: scale(1.001);
  }
  .list-product{
    z-index: 5 !important;
  }
  .filter-product:hover{
      color: #ffffff;
      cursor: pointer;
      background-color:rgb(124, 120, 120);
  }
  .filter-product{
    width: 24px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 12px;
    text-align: center;
    border: 1px solid rgb(221, 218, 218);
    border-radius: 10%;
    height: 24px;
    color: rgb(84, 87, 87);
    border: 1px solid rgb(84, 87, 87);

  }
  .filter-product>svg{
    margin-left: 3px;
    width: 13px;
    height: 13px;
    margin-bottom: 1px;
  }
  .ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-top-content.ant-tabs-card-content{
    padding-top: 5px;
  }
 .sales-counter-card{
  margin-top: -79px !important;
  height: calc(103vh) !important;
  padding: 15px 5px 0px 5px !important;
  max-height: 1020px !important;

}  
.sales-counter-card .grid-sale-counter{
  padding-right: 0px !important;
  height: calc(102vh + 5px) !important;
  max-height: calc(102vh + 5px) !important;
}
.sales-counter-card .grid-sale-counter-1{
  padding-left: 5px !important;
  height: calc(102vh - 3px) !important;
  max-height: calc(102vh - 3px) !important;

}
.sales-counter-card .grid-sale-counter-1 .customer-info-sale-counter{
  padding-top: 20px !important;

}
.amount-sales-counter{
  text-align: right ;
}
.product-type-list .ant-tree-child-tree.ant-tree-child-tree-open{
  max-height: calc(100vh - 300px) !important;
  overflow-y: auto !important;
} 
.product-type-list > ul{
  max-height: calc(100vh - 300px) !important;
}
.modal-product-sales .ant-tree li .ant-tree-node-content-wrapper{
 background-color: white;
}
.ResizePanel-module_ResizeBarVertical__2LUZV {
  cursor: row-resize !important;
}
.ResizePanel-module_ResizeHandleVertical__I0jId{
  cursor: row-resize !important;
}
.ResizePanel-module_ResizeHandleVertical__I0jId>span{
  margin-top: -5px;
}
.ant-table-placeholder{
  z-index: unset;
}
.SplitPane-sale-counter > div:first-child  {
  min-height: calc(50vh) !important;
  max-height: calc(98vh - 4px) !important;

}
.ant-select-combobox .ant-select-search__field{
  z-index: unset;
}
.ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix {
  z-index: unset;
}
.sc-bwzfXH.hEACtv.sc-bdVaJa.cjjWdp{
  height: 10px;
  margin: 10px 0px -10px 0px;
  width: 101%;
  border-top: 3px solid rgb(117, 115, 115);
  border-bottom: 3px solid rgb(117, 115, 115);
  touch-action: none;
  z-index: 4;
  opacity: 0.2;
}
.customer-tooltip{
  position: absolute !important;
  top: 5px;
  float: right !important;
  right: 2px;
  width: 20px !important;
}
.customer-info{
  margin-top: 30px !important;
  padding: 0px 0px !important;
}
.customer-sals-counter{
  width: 70px !important;
  padding: 0px 0px !important;
}
.back-sale-counter{
  width: 50px;
  color: #ffffff !important;
  cursor: pointer;
}
.customer-info .label-padding-sale-counter{
  padding: 0px 1px !important;
  margin: 0px 0px !important;
}
.mobile-oh-form-label{
  width: 34% !important;
  flex: none !important;
}
.mobile-footer {
    position : fixed;
    bottom : 0;
    height : 50px;
    margin-top : 40px;
    z-index: 4;
    text-align: center!important;  
    padding-left: 0!important;
    background: white;
}
.mobile-footer > div{
    padding-left: 0!important;
    text-align: center!important;  
}
.mobile-footer button{
  width: 17%;
}
.mobile-list li{
  text-align: left;
}
.mobile-list input{
  width: 50px;
}
.am-list-item .am-list-item-middle{
  padding-left: 0;
}
.am-list-item .am-list-line .am-list-extra{
  flex-basis: 100%;
  text-align: left;
}
.cardBodyMobile{
  padding: 0.9375rem 0px !important;
}
.padding-sals-counter{
  padding: 0px 1px !important;
}
.payment-sale-counter {
  margin-right: 1px !important;
  padding: 4px 13px 4px 11px;
  width: 100%;
  margin-top: -13px !important;
}
.listProduct-sale-counter{
  z-index: 3 !important;
  background: #e1e1e1 !important;
}
.body-product-sale-counter{
  padding: 5px 5px 0px 2px !important;
}
.col-salse-counter{
  margin: 0px 2px !important;
  max-width: 136px !important;
  width: 136px !important;
  max-height: 137px !important;
  height: 137px !important;
}
.col-salse-counter:hover{
  background: rgb(240, 238, 236) !important;
  border-radius: 2%;
  box-shadow: 0px 0px 2px 2px #b7bcc0;
}

.col-salse-counter-skeleton{
  margin: 0px 2px !important;
  max-width: 136px !important;
  width: 136px !important;
  max-height: 137px !important;
  height: 137px !important;
}

.image-sale-counter{
  height: 90px !important;
  width: 82%;
  padding-left: 15%;
}
.table-sale-counter{
  padding: 0px 0px !important;
}
.ohsearch-table-sales .ant-input-prefix > svg{
  width: 18px;
  height: 18px;
}

.action-sale-counter{
  position: absolute;
  width: 1% ;
  top: -10px !important; 
  right: 40px !important;
  z-index: 2 !important;
}
.action-sale-counter > div > div > button > span > div > svg{
  width: 28px;
  height: 28px;
}
.content-shortkeys-span > button > span > div > i > svg{
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.content-shortkeys-span> button{
  left: 5px;
}
.finalAmount-sale-counter{
  font-size: 15px;
  font-weight: 600;
}
.totalCol-sale-counter{
  max-width: 155px;
  text-align: right; 
  font-weight: 500;
  font-size: 14px !important;
}
.totalCol-sale-counter-invoice{
  max-width: 150px;
  text-align: right; 
  font-weight: 500;
  font-size: 14px !important;
}
.content-shortkeys{
  width: 100%;
  font-size: 13px;
  padding: 5px 5px;
}
.content-shortkeys-1{
  padding: 2px 2px;
  margin-bottom: 7px
}
.popover-price-sale-counter{
  z-index: 2000 !important;
}
.notes-sale-counter .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl.MuiInputBase-multiline.MuiInput-multiline::before{
  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 13px;
    color: #999999;
    content: "\f040";
    position: absolute;
    left: 2px;
    top: 9px;
}

.notes-sale-counter > div > div >textarea{
  margin-left: 15px;
  font-size: 13px !important;
}
.ant-popover.ant-popover-placement-bottomRight {
  padding-top: 0px !important;
}

.ant-popover-inner-content{
  padding: 0px 0px;
  z-index: 2000 !important;
}
.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow {
  
  z-index: 2;
  right: 6px;
}

.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow{
  z-index: 2;
  top: -4px;
}
.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow::after{
  content: "\f40";
}

.ant-popover.ant-popover-placement-bottomLeft{
  padding: 0px 0px;
  top: -4px;
} 
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow{
  top: -4px;
}
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow{
  top: -4px;
}
.table-sale-counter .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
  height: calc(40vh);
  max-height: calc(40vh) !important;
}
.table-sale-counter .ant-table-placeholder{
  border-top: unset;
  border-bottom: unset;
}
.table-sale-counter .ant-empty.ant-empty-normal{
  margin-top: -250px !important;
}
.icon-split-sale-counter{
  left: 50%;
  position: absolute;
  width: 48% ;
  top: -18px !important; 
  z-index: 2000;
}
.icon-split-sale-counter > svg{
  width: 30px;
  height: 25px;
}
.table-sales .ant-modal-body{
  padding: 2px 10px 5px 10px !important;
}
.spiner-sale-conter{
  background-color: #eee;
}

