
.amount-column {
	min-width: 130px;
	max-width: 130px;
	width: 130px;
}
.note-column {
	max-width: 150px;
}
.action-column {
	min-width: 100px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.index-column {
	min-width: 10px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.qty-column {
	min-width: 80px;
	max-width: 80px;
	width: 80px;
}

.import-export-list tr.ant-table-expanded-row, .import-export-list tr.ant-table-expanded-row:hover {
	background: #dcdcdc;
	
}

/* .import-export-list tr.ant-table-expanded-colums, .import-export-list tr.ant-table-expanded-colums:hover {
    background: #dcdcdc;
} */

